#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.landing {
    background-image: url("images/dog.png");
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.typewriterText {
    top: 50%;
    left: 50%;
    font-family: Verdana, Helvetica, sans-serif;
    color: coral;
    text-align: center;
    position: absolute;
    font-size: 60px;
    transform: translate(-50%, -50%);
}
#greeting-container {
  margin-top: 20px;
}

#dog{
    animation: imggrow 5s infinite alternate;
}

@keyframes imggrow {
  from {
      width: 100px;
      height: 100px;
      }
  to {
      width: 600px;
      height: 600px;
    }
}